<app-menu></app-menu>
<div class="product-detail-section">
    <div class="image-product-detail"></div>
    <div class="details-product-detail">
        <h1 class="title-product-detail">VESTIDO</h1>
        <h3 class="subtitle-product-detail">Siempre fashion</h3>
        <div class="description-color-container">
            <p class="description-color">Color</p>
            <p class="first-color"></p>
            <p class="second-color"></p>
            <p class="thrid-color"></p>
        </div>
        <div class="box-sizes">
            <p class="description-size">Sizes</p>
            <input class="description-size-input" type="text" />
        </div>
        <p class="description-price">$450.00</p>
        <div class="adding-products">
            <button class="signals-products">-</button>
            <input class="number-products-input" type="number" />
            <button class="signals-products">+</button>
        </div>
        <button class="button-product" type="button" name="button">
            Mío!
        </button>
    </div>
</div>
<app-footer></app-footer>