.card-product img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center top;
}
.all-products{
    width: 100vw;
}
.products-box {
    margin-top: 100px;
}
.card-product {
    margin-bottom: 50px;
    text-align: center;
}
.button-menu {
    width: 200px;
    height: 50px;
    border: 3.5px solid black;
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin: 12px;
    box-shadow: 5px 10px #ffd940;
    transition: all 500ms;
  }
  .button-menu:hover {
    background: black;
    color: white;
  }