<div class=" social col-md-12 col-sm-6 bg-dark text-light text-end py-1">
    <div class="container">
        <i class="bi bi-facebook me-3"></i>
        <i class="bi bi-instagram me-3"></i>
        <i class="bi bi-twitter me-3"></i>
    </div>
</div>

<div class="bg-yellow">
  <div class="container col-12 d-flex flex-wrap align-items-center justify-content-center">
    <div class="logo col-md-3"> <h1>TOTAL LOOK</h1> </div>
    <div class=" search-box col-md-6">
      <form class="col-md-12">
        <input type="search" class="form-control form-control-dark" placeholder="Encuentra tu estilo..." aria-label="Search">
      </form>
    </div>
    <div class="section-car col-md-3 text-end">
      <i class="bi bi-cart-fill me-3"></i>
    </div>
  </div>
</div>
<div class="container text-center">
  <h1 class="text-center py-5" >PARA LES ESTILOSOS QUE AMAN EL PLANETA</h1>
  <div class="col-6 d-flex justify-content-around">
    <button type="button" class="btn btn-outline-secondary">TODOS LOS ESTILOS</button>
    <button type="button" class="btn btn-outline-secondary">LOS MÁS BARA</button>
    <button type="button" class="btn btn-outline-secondary">CATEGORÍAS</button>
 </div>
</div>
<div class="col-12 banner-sales">
  <h1>SALES</h1>
</div>
